= f.label :title
%br
= f.text_field :title 
%p
= f.label :description
%br
= f.text_field :description
%br
= f.label :Date
%br
= f.date_select :date_time
%br
/ = f.label :attending
/ %br
/ = f.radio_button :attending
/ %br
